.cards {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    width: 920px;
    padding: 0;
}